<?xml version="1.0"?>
<!-- 
	Newsletter Gender  block
    @author Globalia Soft LLP <globaliasoft@gmail.com>
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <brinkmarkt_popup>
            <general>
                <enable>0</enable>
            </general>
        </brinkmarkt_popup>
    </default>
</config>